.Center_Content {
    border: 5px solid black;
    border-radius: 20px;
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: lightslategrey;
    align-content:center;
}
.dropcs{
    text-align:center;
    width:92.5%;
    padding:15px;
    margin:30px;
}
.tex {
    text-align: center;
    padding: 15px;
    margin: 30px;
}

.butt {
    padding: 20px;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
    border: 1px solid white;
    background-color: lightslategrey;
    color: white;
    border-radius: 20px;
}
    .butt:hover {
        background-color: white;
        color: black;
        border-radius: 20px;
    }

#tro{
    text-align:center;
}